:root {
  --dark-red: rgb(147, 50, 1);
  --mainFont: 'Lora', serif;
}

.image-div {
  /* margin-left: 4rem; */
  width: 18rem;
  height: 16rem;
  padding: 1rem 2rem 1rem 2rem;
}

.book-image {
  width: 60%;
  max-width: 50rem;
  margin-left: 3rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.booktitle {
  font-size: 2.1rem;
  margin-left: 0rem;
  font-weight: 500;
  color: #113946;
}

.book-author {
  font-size: 1.5rem;
  font-style: italic;
}

.book-info {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.book-link {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
}

.book-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.3;
  font-style: italic;
  color: grey;
}

.book-label {
  color: var(--dark-red);
  font-weight: 500;
}

.main {
  font-family: var(--mainFont);
}

.previewLink {
  margin: 1rem 0rem;
  border: 2px solid #113946;
  color: #113946;
  font-weight: 500;
}